body{
  color:white;
}
.col{
  vertical-align: top;
  display:inline-block;
  margin-right: 10px;
  padding:5px;
  border:1px solid green;
}
h1{
  font-size: 1em;
}
img{
  display:none;
}
input{
  display:block;
  width:100%;
}
.col-wd{
  width:40%;
  padding:10px;
}
